html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #BB2649;
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  margin: 50px;
  text-align: center;
  font-size: 43px;
  font-weight: 600;
  color: white;
}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px;
  font-size: 20px;
}

.waveButton {
  background-color: #44D9B6;
  color: white;
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 20px;
  font-size: 26px;
  
}
.inputContainer {
  background-color: #44D9B6;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 8px;
  border: 0;
  border-radius: 20px;
  font-size: 26px;
  text-align: center;
}

input, textarea {
  background-color: #44D9B6;
  border: none;
  color: white;
  font-size: 26px;
}
.waveContainer {
  font-size: 20px;
  padding: 20px 30px 50px 30px;
  margin: 20px;
  color: white;
  border: dotted;
}

p {
  text-align: center;
  font-size: 35px;
  color: #44D9B6;
 -webkit-text-stroke: white;
}


footer{
  
}